<!DOCTYPE html>
<html style="background-color:#fafafa" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>
			EKD - MOSFET
		</title>
		<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
		<script>
			function startTime() {
			  var today = new Date();
			  var h = today.getHours();
			  var m = today.getMinutes();
			  var s = today.getSeconds();
			  m = checkTime(m);
			  s = checkTime(s);
			  document.getElementById('time').innerHTML =
			  h + ":" + m + ":" + s;
			  var t = setTimeout(startTime, 1000);
			}
			function checkTime(i) {
			  if (i < 10) {i = "0" + i};
			  return i;
			}
		</script>
	</head>
	<body onload="startTime()">
		<header style="padding: 10px 0px 15px 0px; background:linear-gradient(180deg, rgba(0,123,77,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 88%, rgba(0,123,77,1) 100%);"> 
			<div>
				<a href="/index"><img src="/images/venta.png" width="250px" align="middle" style="padding:10px 20px 0px 30px; vertical-align: middle;"></img></a>
				<text style="padding: 40px 20px 10px 0px; vertical-align:middle; font-size: 18pt;"><b>ELEKTRONIKAS KOMPONENŠU DATUBĀZE V1</b></text> 
			</div>
			<div><text style="font-size: 6pt; padding-left: 250px;">JAVA2021</text></div>
		</header>
		<hr style="margin-top: 2px;">
		<nav style="background-color: #e6e6e6;margin-top: -8px;margin-bottom: -8px; padding: 8px 30px 8px 30px; ">
			<a href="/index" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;"><b>Sākums</a> |
			<a href="/categories" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">Kategorijas</a> |
			<a href="/contacts" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">Kontakti</a> |
			<a href="/showComponents/showAllShoppingCart" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">Grozs</a> |
			<a href="/search" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">Meklēšana</a> |
			<a href="https://itserviss.venta.lv" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">IT servisi</a> |
			<a href="https://venta.lv" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000;">Venta</b></a>
			<span id="time" style="float:right;"></span> 	<!-- PAŠREIZĒJAIS LAIKS -->			
			<text style="float:right; padding-right:5px"><b> | </text>
			<a href="/login" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000; float:right;">Pieslēgties</a>
			<text style="float:right;"> | </text>
			<a href="/register" style="padding-right:5px; padding-left:5px; text-decoration: none; color: #000; float:right;">Reģistrēties</b></a>
		</nav>
		<hr>
		<section style="margin-left:30px; margin-top:20px;">
			<a href="/showComponents/showAllMosfets"><text style="font-size:10pt"><-- Atpakaļ uz MOSFET tranzistoru sadaļu</text></a>
			<p><b>Izvēlētais MOSFET tranzistors:</b></p>
			<table style="margin-left:30px;">
				<tr>
					<td>ID:</td>
					<td th:text="${mosfet.getCid()}"></td>
				</tr>
				<tr>
					<td>Komponentes modeļa ID:</td>
					<td th:text="${mosfet.getComponentId()}"></td>
				</tr>
				<tr>
					<td>Skaits:</td>
					<td th:text="${mosfet.getCount()}"></td>
				</tr>
				<tr>
					<td>MOSFET tips:</td>
					<td th:text="${mosfet.getMosfetType()}"></td>
				</tr>
				<tr>
					<td>Korpusa tips:</td>
					<td th:text="${mosfet.getCasetype()}"></td>
				</tr>
				<tr>
					<td>Korpusa nosaukums:</td>
					<td th:text="${mosfet.getCasestyle()}"></td>
				</tr>
				<tr>
					<td><i>Gate</i> spriegums:</td>
					<td th:text="${mosfet.getGateVoltage()}"></td>
				</tr>
				<tr>
					<td>Maksimālais spriegums:</td>
					<td th:text="${mosfet.getMaxVoltage()}"></td>
				</tr>
				<tr>
					<td>Maksimālā strāva:</td>
					<td th:text="${mosfet.getMaxCurrent()}"></td>
				</tr>
				<tr>
					<td>Pieejams telpā:</td>
					<td th:text="${mosfet.getRoom()}"></td>
				</tr>
				<tr>
					<td>Tolerance:</td>
					<td th:text="${mosfet.getTolerance()}"></td>
				</tr>
				<tr>
					<td>Datulapa:</td>
					<td th:text="${mosfet.getDatasheet()}"></td>
				</tr>
				<tr>
					<td>Apraksts:</td>
					<td th:text="${mosfet.getDescription()}"></td>
				</tr>
			</table>
			
			<table style="margin-left:30px;">
			<form action = "#" th:action = "@{/component/showMosfet/__${id}__}" method = "post" th:object = "${countData}">
				<tr>
					<td> Lūdzu ievadiet skaitu: </td>
					<td><input type = "text" th:field = "*{count}"> </td>
				</tr>
			</table>
			<button type="submit"> Rezervēt komponenti </button>
			</form>
		</section>
		<footer>
			<div style="background-color: white; position: fixed; left: 0; bottom: 0; width: 100%; text-align:center">
				<hr style="margin-bottom: 0px; margin-top: 0px;">
				<a href="https://github.com/rihardsaudze/JAVA_Kursadarbs2021">https://github.com/rihardsaudze/JAVA_Kursadarbs2021</a> &copy; 2021
			</div>
		</footer>
	</body>
</html>